/*-- scss:defaults --*/

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

// Colors
$light-sage-green: #D1D9CE;
$dark-sage-green: #98A08D;
$cream: #FDFBF7;
$gray: #64605f;
$light-gray: #D3D3D3;
$purple: #AE8BD1;
$white: #FFFFFF;
$black: #000000;

// Base document colors
$navbar-bg: $light-gray; // navbar
$navbar-fg: $black; // navbar foreground elements
$navbar-hl: $purple; // highlight color when hovering over navbar links
$body-bg: $white; // page background 
$body-color: $gray; // page text 
$footer-bg: $light-gray; // footer 
$link-color: $purple; // hyperlinks 

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $purple; // inline code text color

// Code blocks
$code-block-bg: $cream; // code block background color

/*-- scss:rules --*/

h1, {
  letter-spacing: 3px;
  font-weight: 700;
  color: $gray;
}