/*-- scss:defaults --*/

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

// Colors
$light-sage-green: #D1D9CE;
$dark-sage-green: #98A08D;
$cream: #F5f5f5;
$gray: #111111;
$light-gray: #D3D3D3;
$purple: #36013F;
$white: #FFFFFF;
$black: #000000;
$blue: #0574B1;

// Base document colors
$navbar-bg: $light-gray; // navbar
$navbar-fg: $black; // navbar foreground elements
$navbar-hl: $purple; // highlight color when hovering over navbar links
$body-bg: $cream; // page background 
$body-color: $gray; // page text 
$footer-bg: $light-gray; // footer 
$link-color: $purple; // hyperlinks 

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $purple; // inline code text color

// Code blocks
$code-block-bg: $cream; // code block background color

/*-- scss:rules --*/

h1, h2, {
  margin-right: 50px;
  margin-left: 50px;
  letter-spacing: 3px;
  font-weight: 700;
  color: $blue;
}

p {
  margin-right: 50px;
  margin-left: 50px;
}

